<p>Home Works</p>

<!-- <h1 style="text-align: center">Configurational Information</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th *ngFor="let header of tableHeader" scope="col">
                {{ header }}
            </th>
        </thead>
    
        <tbody>
            <ng-container *ngFor="let data of datas; let index = index">
                    <tr *ngFor="let in of counter(index); let i = index" [ngClass]="{child: i>0}">
                        <td>{{ data.id }}</td>
                        <td>{{ data.config_name }}</td>
                        <td>{{ data.config_value }}</td>
                        <td>{{ data.start_date }}</td>
                        <td>{{ data.thru_date }}</td>
                        <td>{{ data.status.status_text }}</td>
        
                        <button *ngIf="i < 1; else btn" (click)="btnHandler(index)" class="btn btn-primary">Add</button>
                        <ng-template #btn>
                            <div></div>
                        </ng-template>
                    </tr>
            </ng-container> 
        </tbody>
    </table>
</div> -->